.treeWidgetContainer {
    padding: 0;
}

.treeWidgetElement {
    list-style: none;
    border: 1px solid #f4f4f4;
    margin: 5px;
    margin-right: 0px;
}

.treeWidgetElement ul {
    padding-left: 20px;
}

.treeWidgetElement div {
    padding: 8px;
    padding-right: 0px
}

.treeWidgetElement .treeWidgetElementButtons {
    float: right;
    padding-right: 10px;
}

.treeWidgetElement .treeWidgetElementButton {
    margin-left: 10px;
}

.treeWidgetPlaceholderClass {
    background-color: #dd4b39;
    opacity: 0.65;
}

.treeWidgetCurrentElementClass {
    background-color: white;
}

.treeWidgetHintClass {
    background-color: #00a65a;
    opacity: 0.65;
}

